.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.container li {
  line-height: 2.2;
}
.container ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #e5383b;
  border-radius: 5px;
  background: #e5383b;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.btnActive {
  padding: 10px 20px;
  border: 1px solid #e5383b;
  border-radius: 5px;
  background: #fff;
  color: #e5383b;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.btn:hover {
  transform: scale(0.98);
}
.btnActive:hover {
  transform: scale(0.98);
}

@media (max-width: 700px) {
  .btn,
  .btnActive {
    padding: 5px 5px;
    font-size: 14px;
  }
  .container {
    width: 100%;
  }
  .container ul {
    justify-content: center;
  }
}
