.comment {
  border-radius: 2px;
  box-shadow: 4px 3px 12px -1px rgba(0, 0, 0, 0.39);
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.rightSide {
  width: fit-content;
}
.timeAgo {
  text-align: right;
  font-size: small;
}
.author {
  font-weight: 600;
  text-align: left;
}
.content {
  font-size: smaller;
  text-align: left;
}
.likes {
  display: flex;
  text-align: center;
  font-size: larger;
  margin: 5px;
  padding-left: 10px;
  justify-items: space-between;
}
.likesCounterGreen {
  color: green;
  width: 30px;
}
.likesCounterRed {
  color: red;
  width: 30px;
}
svg {
  position: relative;
  top: 3px;
  font-size: larger;
}

@media (max-width: 700px) {
  .likes {
    flex-direction: column;
    align-items: end;
  }
  .likesCounterGreen {
    margin-left: 0px;
    margin-right: -2px;
  }
  .likesCounterRed {
    color: red;
    margin-left: 0px;
    margin-right: -2px;
  }
}
