.titleText {
  margin: auto 10px;
}
.img {
  position: absolute;
  /* max-width: 66%; */
  max-height: auto;
}
.background {
  width: 100%;
  min-height: 15.5vw;
  background-size: cover;
  background-position: center; /* Center the image */
  justify-items: end;
}

.background:hover {
  transform: scale(1.005);
  cursor: pointer;
}

.title {
  position: relative;
  top: 12.5vw;
  background-color: rgba(0, 0, 0, 0.459);
  font-weight: 500;
  font-size: 1.5vw;
  text-align: left;
  color: white;
  height: 3vw;
}
@media (max-width: 600px) {
  .background {
    height: 50vw;
  }
  .title {
    font-size: 3vw;
    height: 6vw;
    top: 44vw;
  }
  .titleText {
    margin: 0 3px;
  }
}
