.titleAndData{
   display: flex;
   justify-content: space-between;
}
.oneNews{
   border-bottom: 1px solid #e6e6e6;
}

.mainContent{
   padding: 5px;
   display: flex;
   text-align: justify;
   align-items: center;
}
img{
   max-width: 15vw;
   max-height: 15vw;
   padding: 10px;

}
.mainContent>p{
   padding: 20px;
}

.data{
   font-size: x-small;
   font-weight: 100;
}



.descriptionAndCategory{
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   align-items: space-between;
}

.category{
   text-align: right;
   font-size: small;
   font-weight: 100;
}