.titleText {
  margin: auto 10px 0 10px;
}
.img {
  position: absolute;
  /* max-width: 66%; */
  max-height: auto;
}
.background {
  width: 100%;
  min-height: 13.5vw;
  background-size: cover;
  background-position: center; /* Center the image */
  justify-items: end;
}

.background:hover {
  transform: scale(1.005);
  cursor: pointer;
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 9.5vw;
  background-image: linear-gradient(
    0deg,
    rgba(3, 3, 3, 0.774) 15.5%,
    rgba(95, 95, 95, 0.1) 90.6%
  );
  font-weight: 500;
  font-size: 1.5vw;
  text-align: left;
  color: white;
  height: 4vw;
}
@media (max-width: 600px) {
  .background {
    min-height: 42vw;
  }
  .title {
    font-size: 3vw;
    height: 8vw;
    top: 34vw;
  }
  .titleText {
    margin: auto 3px 0 3px;
  }
}
@media (min-width: 2500px) {
  .background {
    min-height: 8vw;
  }
  .title {
    top: 6vw;
    font-size: 1vw;
    height: 2vw;
  }
}
