.oneNews {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e6e6e6;
  width: 100%;
  height: auto;
  margin-bottom: 7px;
  background-color: #fafafa;
  flex-wrap: wrap;
  box-shadow: 2px 2px #c9c5c5;
  padding: 2px;
}

.title {
  font-size: normal;
  width: 50%;
  align-self: center;
  justify-content: center;
  padding-left: 10px;
  border-right: 1px solid #e6e6e6;
}

.date {
  align-self: center;
  font-size: normal;
  width: 30%;
  font-weight: 600;
  padding-left: 10px;
}

.buttons {
  font-size: large;
  align-self: center;
  display: flex;
  justify-content: space-around;
  width: 20%;
  border-left: 1px solid #e6e6e6;
}
.editButton:hover,
.deleteButton:hover {
  cursor: pointer;
  transform: scale(0.95);
}

@media (max-width: 700px) {
  .oneNews {
    flex-direction: column;
    width: 90%;
    margin: 0 auto 10px auto;
  }
  .title,
  .date,
  .buttons {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
  }
}
